ul.list
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

li 
{
    border: 2px solid;
    background-color: lightgray;
    width: 20%;
    border-radius: 12px;
}

input.pokeInput 
{
    width: 150px;
}

div.references
{
    text-align: center;
}

body 
{
    background-color: gray;    
}