ul.list
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

li.static
{
    border: 2px solid;
    background-color: lightgray;
    width: 20%;
    border-radius: 12px;
    margin: 5px;
}

img 
{
    margin: 5px;
    width: 75%;
    image-rendering: pixelated;
}

input.pokeInput 
{
    width: 150px;
}

div.references
{
    text-align: center;
}

div.search
{
    text-align: center;
}

h1.title
{
    text-align: center;
}

body 
{
    background-color: gray; 
    font-family: Arial;   
}